:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

header {
  background-color: #666666;
  color: white;
  padding: 4rem 0;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

header #logo {
  width: 6rem;
}

aside {
  /* background-color: #cccccc; */
  background-color: black;
  color: white;
  padding: 1rem;
}

aside a {
  color: white;
  text-decoration: none;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

aside ul li {
  background-color: rgb(144, 11, 11);
  color: white;
  padding: 0.4rem 0.5rem;
  border-radius: 24px;
}

#middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  /* background-color: #f1f1f1; */
  background-color: white;
  color: black;
  padding: 1rem;
  flex-grow: 1;
}

footer {
  background-color: #777777;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  #middle {
    flex-direction: row;
  }
  aside {
    width: 200px;
  }
}
