:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --background-foreground: rgb(2, 8, 23);
  --border-color: rgb(226, 232, 240);
  --secondary: rgb(241, 245, 249);
}

body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  color: var(--background-foreground);
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: rgb(38, 38, 38);
  color: white;
}

.header__title {
  font-size: 3rem;
  font-weight: 500;
  margin-left: auto;
}

#middle {
  flex-grow: 1;
  display: flex;
}

.sidebar {
  padding: 1rem;
  width: 250px;
  border-right: 1px solid var(--border-color);
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2px;
}

.sidebar__btn {
  background: transparent;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
  text-align: left;
  border-radius: 10px;
}

.sidebar__btn:hover,
.sidebar__btn.active {
  background-color: var(--secondary);
  /* border: 1px solid rgb(20, 78, 159); */
}

main {
  padding: 2rem;
  flex-grow: 1;
}

#cv-section {
  display: flex;
  gap: 2rem;
}

#cv-section img {
  width: 100px;
}

#cv-section .table-container {
  flex-grow: 1;
}

#personal-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#personal-table td,
#personal-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#personal-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#personal-table tr:hover {
  background-color: #ddd;
}

#personal-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6e6e6e;
  color: white;
}

#skills-section h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

#skills-section ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}

#skills-section ul > li {
  border: var(--border-color) 1px solid;
  padding: 1rem;
  border-radius: 10px;
}

.skill {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.skill__level {
  display: flex;
  gap: 0.25rem;
}

.skill__level > .skill__dot {
  width: 15px;
  height: 10px;
  border: 1px solid var(--background-foreground);
}

.skill__level > .skill__dot.filled {
  background-color: var(--background-foreground);
}

@media only screen and (max-width: 700px) {
  .sidebar__btn span {
    display: none;
  }

  .sidebar {
    width: auto;
  }

  #cv-section {
    flex-direction: column;
  }

  #personal-table {
    font-size: 10px;
  }

  .header__title {
    font-size: 1.5rem;
  }

  .header {
    padding: 1rem;
  }

  .skill__level > .skill__dot {
    width: 5px;
    height: 5px;
  }
}
